@font-face {
  font-family: MetricHPE-Regular;
  src: url('./font/MetricHPE-Desktop-Regular.otf');
}



@font-face {
  font-family: MetricHPE-Medium;
  src: url('./font/MetricHPE-Desktop-Medium.otf');
}



@font-face {

  font-family: MetricHPE-Semibold;

  src: url('./font/MetricHPE-Desktop-Semibold.otf');

}



@font-face {

  font-family: MetricHPE-Light;

  src: url('./font/MetricHPE-Desktop-Light.otf');

}
