.config-heading {
 
        font-size: 20px;
        color: $config-primary-color;
        font-weight: 600;
        font-style: Lato;
        
}
.config-dropdown-label{

        font-size: 16px;
        color: $config-secondary-color;
        font-weight: 600;
        font-style: Lato;

}

.config-secondary-heading{

    font-size: 20px;
    color: #333333;
    font-weight: 600;
    font-style: Lato;
    padding-top: 20px;
}

.selected
{
    background-color: darkblue; 
    color: white;
    font-size: 20px;
    display: inline-block;

}
