.label-config {
    display: block;
    font-size: 14px;
    color: #666;
}

.value-config {
    font-size: 22px;
    color: #333;
    font-family: MetricHPE-Medium;
}

.quote-actions-heading {
    color: #666;
    display: block;
    font-size: 25px;
    font-family: MetricHPE-Medium;
    margin-bottom: 10px !important;
}

.color-white {
    color: #fff !important;
}