
.marginTop3 {
    margin-top: 3px;
}

.marginTop30 {
    margin-top: 30px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginLeft10{
    margin-left: 10px;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.marginTop25 {
    margin-top: 25px !important;
}

