$config-primary-color:#479FE0;
$config-secondary-color: #666666;
$config-accent-color:#E6734B;
$config-sec-background: #ffffff;
$font-text-color: #ffffff;
$config-plain-border-button: #E1E1E1;
$config-search-box: #f6f6f6;
$config-radio-color: #707070;
