
// UI Colors
$primary-color : #0096D6;
$secondary-color : #666;
$accent-color : #E6734B;
$critical-color : #F04B37;
$banner-gradient-color-one : #0095D9;
$banner-gradient-color-two : #46BCE0;
$divider-color : #ddd;

// Font Colors
$font-color-primary : #333;
$font-color-secondary : #666;
