<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: helvetica;
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 1px solid white;
  text-align: left;
  padding: 15px;
  padding:top;

}

tr{
  background-color: white;
}
</style>
</head>
<body>



<table>
  
  <tr>
    <td>Configuration Name</td><br>
	<td><input type="text" value="Elite x2 1012G2 BMI" readonly></td>
    
	
	
	
  </tr>
  <tr>
    <td>Access</td><br>
    <td><input type="radio" name="private" value="Private" >Private<br>
		<input type="radio" name="private" value="Organization" >Organization</td>
	
	
  </tr>
  <tr>
    <td>System Localization Option</td><br>
	<td><input type="radio" name="AB4" value="AB4" >AB4-Singapore/Malaysia(English)</td>
	
    
  </tr>
  <tr>
    <td>OS Localization Option</td><br>
    	<td><input type="radio" name="AB4" value="AB4" >AB4-Singapore/Malaysia(English)</td>
  </tr>

  <tr>
	<td>Keyboard Localization Option</td><br>
	<td><input type="radio" name="AB4" value="AB4-Singapore/Malaysia(English)" >AB4-Singapore/Malaysia(English)</td>
    
  </tr>
  <tr>
	<td style="padding-top:50px;">Base Unit</td><br>
	<td><input type="radio" name="2PD" value="2PD" >2PD833AV-HP IDS UMA i7-7500U 8GB for WWAN x2 1012 G2 Tablet [Price:SGD 1,573.69]<br><br>
    <input type="radio" name="2PD" value="2UN">2UN54AV-HP IDS UMA i7-7500U 16GB for WWAN x2 1012 G2 Tablet [Price: +SGD 416.54]<br><br>
    <input type="radio" name="2PD" value="5HC">5HC30AV-HP IDS UMA i3-7100U 4GB for WWAN x2 1012 G2 Tablet [Price: -SGD 1,573.69]<br><br>
    <input type="radio" name="2PD" value="Y516">Y5E16AV-HP IDS UMA i3-7100U 4GBx2 1012 G2 Tablet [Price: -SGD 435.46]<br><br>
    <input type="radio" name="2PD" value="Y517">Y5E17AV-HP IDS UMA i7-7200U 16GB for WWAN x2 1012 G2 Tablet [Price: -SGD 1,23.91]<br><br>
    <input type="radio" name="2PD" value="Y518">Y5E18AV-HP IDS UMA i7-7200U 4GB for WWAN x2 1012 G2 Tablet [Price: -SGD 321.13]<br><br>
    <input type="radio" name="2PD" value="Y519">Y5E19AV-HP IDS UMA i7-7500U 16GB for WWAN x2 1012 G2 Tablet [Price: -SGD 255.38]<br><br>
    <input type="radio" name="2PD" value="Y520">Y5E20AV-HP IDS UMA i7-7500U 16GB for WWAN x2 1012 G2 Tablet [Price: +SGD 99.06]<br><br>
    <input type="radio" name="2PD" value="Y521">Y5E21AV-HP IDS UMA i7-7500U 16GB for WWAN x2 1012 G2 Tablet [Price: -SGD 32.43]<br><br>
    <input type="radio" name="2PD" value="Y522">Y5E22AV-HP IDS UMA i7-7500U 16GB for WWAN x2 1012 G2 Tablet [Price: +5GD 384.01]
    </td>
    
  </tr>
</table>

</body>
</html>
