<div class="config-header-wrapper">
    <div class="container">
        <div class="config-header-container">
                <div class="config-header-title">
                        Model Configuration
                    </div>
                
                    <div class="config-header-logo">
                        <div class="icon-logo"></div>
                    </div>
                
                    <div class="config-header-action">
                        <button class="config-button config-button-secondary">Reture To Quote</button>
                    </div>
        </div>
    </div>
</div>