<div class="quote-actions">

    <div class="quote-actions-configuration">
        <label class="quote-actions-heading">Configuration</label>
        <button class="config-button ">Create Config</button>
        <button class="config-button marginLeft10">Upload Config</button>
        <button class="config-button config-button-secondary marginLeft10">Add Accessories

        </button>
    </div>

    <div class="quote-actions-products">
            <label class="quote-actions-heading">Products</label>
            <button class="config-button ">Search Products</button>
            <button class="config-button marginLeft10">Upload Products</button>
    </div>

        
        <div class="quote-actions-pricing">
                <label class="quote-actions-heading">Pricing</label>
                <button class="config-button  config-button-accent">Get Price</button>
        </div>
        

</div>