@import '../../../../../assets/scss/variable.scss';


.quote-actions {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid $divider-color ;

    .quote-actions-configuration {
         
     
    }

}