h4 {
    font-family: Helvetica;
    color: dodgerblue;
    }
    
    .panel{
        width: 600px;
        height: 75px;
        position: relative;
        top:0%;
        bottom: 0;
        left:0;
        right: 0;
        margin-top:10px ;
        margin-left: 200px;
        border-radius: 25px;
        text-align: center;
        float:left;
        background-color: white;
        font-family: Helvetica;
   }
    .panel1{
        width: 500px;
        position: relative;
        top:0%;
        bottom: 0;
        left:0;
        right: 0;
        margin-top:10px ;
        text-align: left;
        float:left;
        padding-left: 170px;;
        background-color: white;
        margin-left:30px;
        font-family: Helvetica;
        
    }
    .panel2{
        width: 500px;
        position: relative;
        top:0%;
        bottom: 0;
        left:0;
        right: 0;
        margin-top: 10px ;
        text-align: left;
        float:right;
        padding-right: 122px;
        background-color: white;
        
    }
    .leftPanel{
        width: 50%;
        height: 48%;
        float: left;
        text-align: left;
        padding-bottom :80px 0 0 0;
        background-color: blue;
    }
    .grommetux-form-field:last-child {
        margin-bottom: 0px;
    }
    
    .grommetux-form-field__contents{
        margin-left:0px;
        padding:0px;
        text-align:left;
        
    }
    
    .grommetux-form-field--text {
        cursor: pointer;
    }
    span{
        font-size: 15px;
        line-height: 1.23333;
        font-family: Helvetica;
        
    }
    .grommetux-form-fiel{
        position: relative;
        padding: 5px 24px;
        border: 1px solid rgba(0,0,0,0.15);
        background-color: #fff;
        color: #333;
        opacity: 1;
    }
    
    .grommetux-form{
        position: relative;
        padding: 5px 24px;
        border: hidden;
        background-color: #fff;
        color: #333;
        opacity: 1;
    }
    
    input{
        border: hidden;
        font-family:visible;
        
    }
    
    .grommetux-button {
        background-color: transparent;
        border: 2px solid #0096D6;
        border-radius: 0px 5px;
        color: #333;
        font-size: 1.0175rem;
        line-height: 18px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        outline: none;
        min-width: 120px;
        max-width: 384px;
        margin-top:30px;
        float: left;
        padding-right:20px;
        margin-left:0px;
        padding-bottom: 8px ;
        padding-top: 5px;
    }
    .grommetux-button1 {
        background-color: transparent;
        border: 2px solid #0096D6;
        border-radius: 0px 5px;
        color: #333;
        font-size: 1.0175rem;
        line-height: 18px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        outline: none;
        min-width: 120px;
        max-width: 384px;
        margin-top:30px;
        float: left;
        padding-right:20px;
        margin-left:10px;
        padding-bottom: 8px ;
        padding-top: 5px;
    }
    label{
        font-family: Helvetica;
        font-size: 12px;
        color:grey;
    }