<html>
<head>
</head>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h4 style="margin-left: 200px;"> Auto Allocation </h4>

<div class="panel">
            <div class="leftPanel">
                <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="quote_first">Target Requested Total Disc%</label><br>
                  <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Ex 20%">
                  </span>
                </div>
	            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                <label class="quote_last" >Target Requested Net Price</label><br>
			          <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Ex 20%">
                </span>
              </div>
            </div><br><br><br><br><br>
			<button type="button" class="grommetux-button">
			<span style="font-size:15px;float:left;">Apply by Auto Allocation</span></button>
		 &nbsp; &nbsp;
			<button type="button" class="grommetux-button1">
			<span style="font-size:15px; ">Apply Flat</span></button>
</div>
<br><br><br><br><br><br><br><br><br><br>

<div class="panel1">
<h3 style="color:dodgerblue;font-family:Helvetica;font-size:15px;"> Auto Allocation Details</h3>
<label>Distributor Requirement Disc</label><label style="float:right; font-weight: bold;color:black;">98200.00</label><hr>
<label>Distributor Requested Net Price</label><label style="float:right; font-weight: bold;color:black;">35264.00</label><hr>
<label>Total Requested Net Price</label><label style="float:right; font-weight: bold;color:black;">0.00</label><hr>
<label>Expert Disc% </label><label style="float:right; font-weight: bold;color:black;">98200.00</label><hr>
<label>Typical Disc%</label><label style="float:right; font-weight: bold;color:black;">62936.00</label><hr>
<label>Floor Disc%</label><label style="float:right; font-weight: bold;color:black;">98200.00</label><hr>
<label>Total Expert Price</label><label style="float:right; font-weight: bold;color:black;">33376.00</label><hr>
<label>Total Typical Price</label><label style="float:right; font-weight: bold;color:black;">62936.00</label><hr>
<label>Total Floor Price</label><label style="float:right; font-weight: bold;color:black;">64824.00</label><hr>
</div>

<div class="panel2">
<h3 style="color:dodgerblue;font-family:Helvetica;font-size:15px;"> Total Quote Details</h3>
<label>List Price </label><label style="float:right; font-weight: bold;color:black;">98200.00</label><hr>
<label>Total Discount Amount</label><label style="float:right; font-weight: bold;color:black;">35264.00</label><hr>
<label>Total Std Discount </label><label style="float:right; font-weight: bold;color:black;">0.00</label><hr>
<label>Total Std Dealer Price </label><label style="float:right; font-weight: bold;color:black;">98200.00</label><hr>
<label>Total Net Price</label><label style="float:right; font-weight: bold;color:black;">62936.00</label><hr>
<label>Total Benefits</label><label style="float:right; font-weight: bold;color:black;">98200.00</label><hr>
<label>Total Recommended Discount</label><label style="float:right; font-weight: bold;color:black;">33376.00</label><hr>
<label>Total Net Price With Benefits</label><label style="float:right; font-weight: bold;color:black;">62936.00</label><hr>
<label>Total Recommended Price</label><label style="float:right; font-weight: bold;color:black;">64824.00</label><hr>
<label>Total Reseller Benefits</label><label style="float:right; font-weight: bold;color:black;">0.00</label><hr>
<label>Total Indicative Net Price With Benefits</label><label style="float:right; font-weight: bold;color:black;">64824.00</label><hr>
<label>Estimated Tax</label><label style="float:right; font-weight: bold;color:black;">0.00</label><hr>
</div>
</html>
