<h3 class="clr">
    Display Options
</h3>


<button class="dropdown" (click)="outputType">
    Output Type
 <ng-container *ngIf="data1">
<select>
    <option *ngFor="let type of data1.outType">{{type.type}}</option>
</select>
</ng-container>
</button>

<br>
<button class="dropdown" (click)="outputlang">
    Output Language
    <ng-container *ngIf="data">
<select>
    <option *ngFor="let lang of data.languages">{{lang.name}}</option>
</select>
</ng-container>
</button>
<br>
  
<label class="container margin">Including Shopping and Freight
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Include Tax
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Hide Bundle Components
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Show Eclipse id
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Shoe Master Deal id
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <h3 class="clr">File Options</h3>
<div class="hstyle">

  <label>
      Pdf
  </label>
  <button class="button button1">
  </button>
  <button class="button button2">
    </button>
  <label class="labelstyle">
      Docx
  </label>
  <button class="button button1">
    </button>  
    <button class="button button2">
        </button>  
<label class="labelstyle">
    Excel
</label>
<button class="button button1">
</button>
<button class="button button2">
    </button>
  </div>
