<h3 class="clr">
    Display Options
</h3>
<button class="dropdown" (click)="outputtype">
    Output Type
    <p class="font">
        Standard
    </p>
</button>
<br>
<button class="dropdown" (click)="outputlang">
    Output Language
    <p class="font">
        English
    </p>
</button>
<br>
  
<label class="container margin">Including Shopping and Freight
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Include Tax
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Hide Bundle Components
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Show Eclipse id
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container margin">Shoe Master Deal id
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <h3 class="clr">File Options</h3>
<div class="hstyle">

  <label>
      Pdf
  </label>
  <button class="button button1">
  </button>
  <button class="button button2">
    </button>
  <label class="labelstyle">
      Docx
  </label>
  <button class="button button1">
    </button>  
    <button class="button button2">
        </button>  
<label class="labelstyle">
    Excel
</label>
<button class="button button1">
</button>
<button class="button button2">
    </button>
  </div>
