<html>
    <div style="border-top:1px Solid black"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <label style="font-family: Arial, Helvetica, sans-serif;font-size: 20px; padding:buttom;"><strong>Cancel Quote</strong></label><br><br><hr>
        <label style="font-family: Arial, Helvetica, sans-serif;color:Blue;font-size: 20px; padding:buttom;"><strong>Quote Cancellation Reason</strong></label><br><br>
        <div style="border:1px Solid #a9a9a9;width: 350px;"><br>
          <label style="margin-left: 5px; padding:10px;"><strong>Cancel Reason</strong></label><br>
          <select style="margin-left: 5px; padding:10px;    -webkit-appearance: none;width:300px;border-color:white;">
            <option value="01">Standard</option>
          </select>
          <img src="../../../../../assets/icons/down.svg" height="11" width="11">
    
        </div>
        <div class="comments">
          <label style="color:black; padding-top:10px">Cancel Comments</label><br>
          <label>Ex Some Comments</label>
        </div>
    </div>
    <br>
  
    <button class="cancel_quotebutton">Cancel Quote</button>
</html>
