

<html>
    <head>
    </head>
    <body>
    <strong>Pricing and Terms</strong>
    <h3>Settings</h3>
    
    <div class="pricing-and-terms">
        <div class="pricing-and-terms-settings">
            <label>Currency</label>
    
                <select class="dropbtn">
    
                    <option value="01">Singapore Dollar</option>
                    <option value="02">US Dollar</option>
                    <option value="03">Rupee</option>
                </select>
                <img src="../../../../../../assets/icons/down.svg" height="10" width="10">
        </div>
    
        <div>
            <label>Geo</label>
                <select class="dropbtn">
                    <option value="01">Singapore</option>
                    <option value="02">US</option>
                    <option value="03">India</option>
                </select>
            <img src="../../../../../../assets/icons/down.svg" height="10" width="10">
    
        </div>
    
        <div>
            <label>Terms of Delivery</label>
                <select class="dropbtn">
                    <option value="01">Mexican Peso</option>
                    <option value="02">US Dollar</option>
                    <option value="03">Indian rupees</option>
                </select>
            <img src="../../../../../../assets/icons/down.svg" height="10" width="10">
    
        </div>
    </div>
    <br><br>
    <span class="grommetux-check-box__control"><svg class="grommetux-check-box__control-check" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="none" d="M6,11.3 L10.3,16 L18,6.2"></path></svg></span>
    <label>Use Default Price Descriptor</label>
    &nbsp;&nbsp;&nbsp;
    <span class="grommetux-check-box__control"><svg class="grommetux-check-box__control-check" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="none" d="M6,11.3 L10.3,16 L18,6.2"></path></svg></span>
    <label>List Price Only Quote</label>
    
    </body>
</html>
