<div class="pricingandterms">

    <h6 class="heading">Settings</h6>

    <div class="pricingandterms-settings">

            <div class="pricingandterms-settings-dropdown">
                    <ul class="list">

                            <li>
            
                                    <div class="config-dropdown ">
                                            <label>Currency</label>
                                            <select class="icon-dropdown">
                                                <option>Hindi</option>
                                                <option>HindiEnglishTamil</option>
                                            </select>
                                        </div>
                                    
            
                            </li>
            
                            <li>
            
                                    <div class="config-dropdown ">
                                            <label>Terms of Delivery</label>
                                            <select class="icon-dropdown">
                                                <option>Hindi</option>
                                                <option>HindiEnglishTamil</option>
                                            </select>
                                        </div>
                                    
            
                            </li>
            
                            <li>
            
                                    <div class="config-dropdown ">
                                            <label>Geo</label>
                                            <select class="icon-dropdown">
                                                <option>Hindi</option>
                                                <option>HindiEnglishTamil</option>
                                            </select>
                                        </div>
                                    
            
                            </li>
            
                        </ul>
            </div>
            
            <div class="pricingandterms-settings-checkbox">
                
            </div>

    </div>




</div>