

<html>
    <head>
    </head>
    <body>
    <strong>Pricing and Terms</strong>
    <h3>Settings</h3>
    
    <div class="pricing-and-terms">
        <div class="pricing-and-terms-settings">
            <label>Currency</label>
    
                <select class="dropbtn">
    
                    <option value="01">Singapore Dollar</option>
                    <option value="02">US Dollar</option>
                    <option value="03">Rupee</option>
                </select>
                <img src="../../../../../../assets/icons/down.svg" height="10" width="10">
        </div>
    
        <div>
            <label>Geo</label>
                <select class="dropbtn">
                    <option value="01">Singapore</option>
                    <option value="02">US</option>
                    <option value="03">India</option>
                </select>
            <img src="../../../../../../assets/icons/down.svg" height="10" width="10">
    
        </div>
    
        <div>
            <label>Terms of Delivery</label>
                <select class="dropbtn">
                    <option value="01">Mexican Peso</option>
                    <option value="02">US Dollar</option>
                    <option value="03">Indian rupees</option>
                </select>
            <img src="../../../../../../assets/icons/down.svg" height="10" width="10">
    
        </div>
    </div>
    <br><br>
    
    <input type="checkbox" name="Use Default Price Descriptor" value="Use Default Price Descriptor">Use Default Price Descriptor
    
    &nbsp;&nbsp;&nbsp;
    
    <input type="checkbox" name="List Price Only Quote" value="List Price Only Quote">List Price Only Quote

    
    </body>
</html>
