<header class="header">
    <div class="header-left">

                <button class="buttonborder buttonstyle" (click)="save()">
                    Save quote
                 </button>
                <button class="marginLeft10 buttonborder" (click)="refersh()">
                    Refresh Quote
                </button>
                <button class="marginLeft10 buttonborder" (click)="Request()">
                    Request clone Assistance
                </button> 
                <br>
                <p class="moreact">More actions</p>
    </div>
    <div class="header-right">
        logo
    </div>

    
</header>

