.header{
    display: flex;
    justify-content: space-between;

    .header-left{

        display: flex;
        justify-content: space-between;
        
        .buttonborder{

            border-top-right-radius: 5px;
            border-bottom-left-radius:5px;
            border: 1px solid #000;
            width:190px;
            height:30px;
            font-weight: bold;
            
        }
        .buttonstyle{
           border:1px #008CBA;
            background-color: dodgerblue ;   
            width:120px;
            height:30px; 
        }
        }
       
    }
    

