<header class="header"> 
    <div class="header-left" >

                <button  class="buttonborder buttonstyle" (click)="save()">
                    Save quote
                 </button>
                <button class="marginLeft10 buttonborder" (click)="refersh()">
                    Refresh Quote
                </button>
                <button class="marginLeft10 buttonborder" (click)="Request()">
                Request clone Assistance
                </button> 
                <br>
                <button class="dropbtn"> More Actions
                </button>
                
    </div>
    <div class="img">
      <img class="img" src="hplogo.jpg" style width:2px>
        </div>

    
</header>

