<div class="header">

    <div class="header-actions">

        <div class="header-actions-left">

           <ul>

            <li class="header-actions-item">
                <button class="config-button config-button-primary">Save Quote</button>
            </li>

            <li class="header-actions-item">
                <button class="config-button config-button-secondary">Refresh Quote</button>
            </li>

            <li class="header-actions-item">
                <button class="config-button config-button-secondary ">Request Clone Assistance</button>
            </li>

           </ul>


        </div>

        <div class="header-actions-right">
            <div class="brand"></div>
        </div>

    </div>

</div>