<div class="banner">
        <div class="overlay overlay-color"></div>
        <div class="overlay overlay-color-secondary "></div>
        <div class="banner-main">
            <div class="container">
                
                <div class="banner-phase">
                <app-phases></app-phases>
                </div>

            <div class="banner-quote">

                <div class="banner-quote-customer">

                    <ul>

                        <li>
                            <span class="value-config color-white">PO0123123220-A1234</span>
                            <label class="label-config color-white">Quote Number</label>
                        </li>


                        <li>
                            <span class="value-config color-white">Testing Auto Match</span>
                            <label class="label-config color-white">Quote Title</label>
                        </li>


                        <li>
                            <span class="value-config color-white">Autocare</span>
                            <label class="label-config color-white">Customer</label>
                        </li>

                    </ul>

                </div>

                <div class="banner-quote-status">

                    <ul>

                        <li>
                            <div class="status-ripple marginTop3 marginRight10"><div class="ripple"></div></div>
                            <div class="banner-quote-status-detail">
                                    <span class="value-config color-white">Quote / Configuration Pending Changes</span>
                                    <label class="label-config color-white">Quote Status</label>
                            </div>
                           
                        </li>
                    </ul>

                </div>
        
            </div>
            
        </div>
    </div>
</div>