<html>
    <head>
        <title>Document</title>
    </head>
    <h3>Details</h3>
    <form class="grommetux-form grommetux-form--pad-none">
      <div class="grommetux-form-field grommetux-form-field--text grommetux-form-field--size-medium">
          <label class="Quote_label" for="Quote_Title">Quote Title</label><br>
      <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Testing Auto Match"></span>
    </div>
    </form>
    <ul style="list-style-type:none">
            <span class="Testing_auto">Testing Auto Attach</span>
            <span class="Opd">OPD-0001127435</span>
            <span class="Number">01</span>
            <span class="Completion_nil">Nil</span>
         </ul>
         <ul>
                 <label class="Quote_name" for="quote_name">Quote Name</label>
                 <label class="Opp_id" for="opportunity_id">Opportunity ID</label>
                 <label class="Quote_version" for="quote_version">Quote Version</label>
                 <label class="Completion_date" for="completion_date">Completion Date</label>
         </ul>
    <h3>HP Sales Support</h3>
    <form class="grommetux-form grommetux-form--pad-none">
     <div class="grommetux-form-field grommetux-form-field--text grommetux-form-field--size-medium">
            <label class="Custom_Sales_Rep" for="Custom_Sales">Customer Sales Rep</label><br>
        <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Testing Auto Match">
        </span>
      </div>
    </form>
    <ul style="list-style-type:none">
            <span>Nil</span><br><br>
            <label class="Par_Sales_Rep" for="par_sales_rep">Partner Sales Rep</label>
        </ul>
    <h3>Deal Registration Details</h3>
    <ul style="list-style-type:none">
        <span>DO129223-ADF</span><br><br>
        <label class="Deal_ID" for="deal_id">Deal ID</label>
    </ul>
    <ul style="list-style-type:none">
       <span class="Deal_Sample">Deal Name Sample</span>
       <span class="Exp_nil">Nil</span>
       <span class="Reg_nil">Nil</span>
    </ul>
    <ul>
            <label class="Deal_Name" for="deal_name">Deal Name</label>
            <label class="Expiry_Date" for="deal_exp_date">Deal Expiration Date</label>
            <label class="Deal_reg_stat" for="deal_reg_stat">Deal Registration Status</label>
    </ul>
    <ul style="list-style-type:none">
            <span class="Create_nil">Nil</span>
            <span class="By_nil">Nil</span>
            <span class="Mod_nil">Nil</span>
            <span class="lmod_nil">Nil</span>
         </ul>
         <ul>
                 <label class="Created_on" for="created_on">Created On</label>
                 <label class="Created_by" for="created_by">Created By</label>
                 <label class="Modified_on" for="modified_on">Modified On</label>
                 <label class="Last_Mod_by" for="last_mod_by">Last Modified By</label>
         </ul>
</html>
