<div class="opportunity">

  <div class="opportunity-details marginBottom40 ">

    <h6 class="heading">Details</h6>

    <div class="config-input-wrapper">
      <label>Quote Tile</label>
      <input value="Testing Auto Match">
    </div>

    <div class="opportunity-details-list marginTop30">

      <ul class="list">

        <li>
          <span class='value-config'>Testing Auto Attach</span>
          <label class="label-config">Quote Name</label>
        </li>

        <li>
          <span class='value-config'>OPD-0001127435</span>
          <label class="label-config">Opportunity ID</label>
        </li>

        <li>
          <span class='value-config'>01</span>
          <label class="label-config">Quote Version</label>
        </li>

        <li>
          <span class='value-config'>Nil</span>
          <label class="label-config">Completion Date</label>
        </li>

      </ul>

    </div>

  </div>

  <div class="opportunity-hp-sales-support marginBottom40">

    <h6 class="heading">HP Sales Support</h6>

    <div class="config-input-wrapper">
      <label>Customer Sales Rep</label>
      <input value="Testing Auto Match">
    </div>

    <div class="opportunity-hp-sales-support-list marginTop30">

      <ul class="list">

        <li>
          <span class='value-config'>Nil</span>
          <label class="label-config">Partner Sales Rep</label>
        </li>

      </ul>

    </div>


  </div>

  <div class="opportunity-deal-registration-details">

    <h6 class="heading">Deal Registration Details</h6>

    <div class="opportunity-deal-registration-details-list">

      <ul class="list marginTop25">

        <li>
          <span class="value-config ">D0129223-ADF</span>
          <label class="label-config">Deal ID</label>
        </li>
        <li>
          <span class="value-config ">Deal Name Sample</span>
          <label class="label-config">Deal Name</label>
        </li>
        <li>
                <span class="value-config ">Admin</span>
                <label class="label-config">Created By</label>
              </li>
        <li>
          <span class="value-config ">Completed</span>
          <label class="label-config">Deal Registration Status</label>
        </li>
      

      </ul>






      <ul class="list marginTop25 ">
            <li>
                    <span class="value-config ">30-12-2018</span>
                    <label class="label-config">Deal Expiration Date</label>
                  </li>

        <li>
          <span class="value-config ">20-12-2018</span>
          <label class="label-config">Created On</label>
        </li>

        <li>
          <span class="value-config ">22-12-2018</span>
          <label class="label-config">Modified On</label>
        </li>
        <li>
          <span class="value-config ">20-12-2019</span>
          <label class="label-config">Last Modified By</label>
        </li>

      </ul>





    </div>


  </div>

</div>
