<div class="search-category">

    <div class="search-category-list">

        <ul>
            <li>
                <div class="search-category-list-item">

                        <img src="tv.svg" style="width: 20px; height: 10px; align-content: left">
                    <span>Business Desktops PC's</span>
                    
                    <div class="search-category-list-item-series">
                           <h3 class="fonth3">Series</h3>
                            <p>HP Elite x2 1000 Series</p><hr>
                            <p>HP EliteBook 730 Notebook Series</p><hr>
                            <p>HP EliteBook 740 Notebook Series</p><hr>
                            <p>HP EliteBook 750 Notebook Series</p><hr>
                            <p>HP EliteBook 750 Notebook Series</p><hr>
                        </div>
                </div>
     
            </li>
            <li>
                        <div class="search-category-list-item-series">
                                
                            </div>
                </li>
                <li>
                        <div class="search-category-list-item">
                            <span>Mobile Workstation</span>
                        </div>
                    </li>
                    <li>
                            <div class="search-category-list-item">
                                <span>Point of Sales</span>
                            </div>
                        </li>
                        <li>
                                <div class="search-category-list-item">
                                    <span>Workstations</span>
                                </div>
                            </li>
                         
        </ul>


    </div>


</div>
    