<div class="category-list">

  <ul>

    <li class="icon-business-desktop">
      Busines Desktop PC's
    </li>
    <li class="icon-business-laptop">
      Busines Laptop PC's
    </li>
    <li class="icon-business-mobile-workstations">
      Mobile Workstation
    </li>
    <li class="icon-business-point-of-sales">
      Point of Sales
    </li>
    <li class="icon-business-workstations">
      Workstations
    </li>

  </ul>

</div>

<div class="category-list-selected">

    <ul>

        <li>

                <span class="value-config ">Business Desktops Pc’s</span>
                <label class="label-config ">Category</label>
    
        </li>

        <li>

                <span class="value-config ">HP EliteBook 730 Notebook Series</span>
                <label class="label-config ">Series</label>

        </li>

    </ul>

</div>