header{
	font-family:Helvetica;
}

.Number{
	font-size:25px;
	text-align:left;
	font-family:Helvetica;
	font-weight:15px;
	}

.MDCP{
	font-size:15px;
	font-family:Helvetica;
	
}	
	

.table table-bordered{
	width:100px;
	height:45px;
	border:1px solid black;
}

body{
    
    height:100vh;

}
input{
    border: hidden;
	font-family:visible;
	
}
.panel{
    width: 55%;
    height:40%;
    position: relative;
    top:0%;
    bottom: 0;
    left:0;
    right: 0;
    margin-top:40px ;
    border-radius: 25px;
    text-align: center;
    float:left;
    background-color: white;
}
.leftPanel{
    width: 45%;
    height: 100%;
    float: left;
    text-align: top;
    padding-bottom :80px 0 0 0;
    width: 50%;

}
.grommetux-form-field:last-child {
    margin-bottom: 0px;
}

.grommetux-form-field__contents{
	margin-left:0px;
	padding:0px;
	text-align:left;
	
}

.grommetux-form-field--text {
    cursor: pointer;
}
span{
    font-size: 1.40rem;
    line-height: 1.23333;
}
.grommetux-form-fiel{
    position: relative;
    padding: 5px 24px;
    border: 1px solid rgba(0,0,0,0.15);
    background-color: #fff;
    color: #333;
    opacity: 1;
}

.grommetux-form{
    position: relative;
    padding: 5px 24px;
    border: hidden;
    background-color: #fff;
    color: #333;
    opacity: 1;
}

.head{
    text-align: left;
    padding-right: 20px;
	font-family:Helvetica;
}
.rightPanel{
    width: 45%;
    height: 100%;
    float: right;
    text-align: top;
    padding-top: 0px;
}

div{
	display:block;
}

.logbutton{
    color:rgb(8, 7, 7);
}

.Sold_To{
	color:blue;
	border:none;
	width:5px;
	height:10px;
	padding:buttom;
}

.panel2{
	width: 85%;
    height:50%;
    position: relative;
    top:0%;
    bottom: 0;
    left:0;
    right: 0;
    margin-top:40px ;
    border-radius: 25px;
    text-align: center;
    float:left;
    background-color: white;
}
	

.buttomPanel-left{
	width:30%;
	height:40%;
	float:left;
	text-align:left;
	background-color: white;
	border:none;
}

.buttomPanel-right{
	width:30%;
	height:40%;
	float:right;
	text-align:left;
	background-color: white;
	border:none;
}
checkbox{
	padding-left:60px;;
	
}

.buttomPanel-center{
	width: 30%;
	height:80%;
	float:left;
	text-align:left;
	margin-left:55px;
	background-color: white;
	border:none;
}

.New_Del{
	text-align:left;
	float:left;
	margin-left:0px;
}

.New_number{
	font-size:20px;
	float:top;
	margin:top;
	padding-right:20px;
}

	

.panel3{
	width: 30%;
    height:70%;
    position: relative;
    top:0%;
    bottom: 0;
    left:0;
    right: 0;
    margin-top:40px ;
    border-radius: 25px;
    text-align: left;
    float:left;
    background-color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.boxPanel_left{
	width:30%;
	height:40%;
	float:left;
	text-align:left;
	background-color: white;
	border:none;
}
	

.Cancel_reason{
	width: 40%;
	height:10%;
	float:left;
	text-align:left;
	margin:left;
	background-color: white;
	border:none;
	
}
	
	
.Cancel_comment{
	width: 70%;
	height:30%;
	float:left;
	text-align:left;
	background-color: white;
	border:none;
	padding:left;
	margin:left;
}

	
	

.address{
	width:35%;
	height:45%;
	float:left;
	text-align:buttom;
	background-color: white;
	border:none;
}
	
.Address_Auto{
	text-align:left;
	float:left;
	margin:left;
	font-family:Helvetica;
}

.Test{
	text-align:left;
	float:left;
	margin:left;
	font-family:Helvetica;
}

	

.Ship_To{
	color:blue;
	border:none;
	width:25px;
	height:35px;
	padding:buttom;
}

.Refresh_button{
	border-top-right-radius: 5px;
    border-bottom-left-radius:5px;
    border: 1px solid #000;
    width:190px;
    height:50px;
	float:left;
    font-weight: bold;
}
.Populate_button{
	border-top-right-radius: 5px;
            border-bottom-left-radius:5px;
            border: 1px solid #000;
            width:190px;
            height:50px;
            font-weight: bold;
			background-color:white;
			border-color:black;
			
			
}
	
button{
           border:1px #008CBA blue;
            background-color: white;   
            width:300px;
            height:45px;
			float:left;
			border-color:blue;
}


.cancel{
	border-top-right-radius: 5px;
	margin-bottom:20px;
    border-bottom-left-radius:5px;
    border: 1px solid #000;
    width:300px;
    height:45px;
	float:left;
    font-weight: bold;
	border-color:blue;
	margin:left;
	
	
}

.cancel_refresh{
	border-top-right-radius: 5px;
    border-bottom-left-radius:5px;
    border: 1px solid #000;
    width:300px;
    height:45px;
	float:left;
    font-weight: bold;
	border-color:black;
	margin:left;
	
}
	

hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.Quote{
	color:blue;
	padding:buttom;
}

.Cust_first{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}

.Cust_last{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}

.Cust_email{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}

.Cust_tel{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}

.Ship_Contact{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}

.Bill_Contact{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}

.Ship_phone{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}

.Bill_phone{
	font-family:Helvetica;
	text-align:left;
	float:left;
	margin:left;
}
	

.Sold_Add{
	color:blue;
	font-family:Helvetica;
}

.Bill_Add{
	color:blue;
	font-family:Helvetica;
}

.Ship_Add{
	color:blue;
	font-family:Helvetica;
}
header{
	color:blue;
}

.Auto_bill{
	font-family:Helvetica;
}
	
	
