<html>
  <head>
        <title>Document</title>
    </head>
    <h3 style="color:blue;">Customer Details</h3>
			<ul style="list-style-type:none;">
		<!--<span class="Number"><strong>96063982</strong></span>-->
		<input style="font-family:Arial, Helvetica, sans-serif;" type="mdcpid" [value]="response[0].mdcpId" readonly>
			</ul>
		 <ul style="list-style-type:none">
			<span class="MDCP">MDCP Organisation IP</span>
			<!--<span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="mdcpid" [value]="response[0].mdcpId" readonly>
			</span>-->
		</ul>
		<h3 style="color:blue;">Customer Contact Information</h3>
		
		      <div class="panel">
            <div class="leftPanel">
                <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Cust_first">Customer Contact First Name</label><br><br>
                  <span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="first_name" [value]="response[0].firstName" readonly>
                  </span>
                </div>
	            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                <label class="Cust_last" >Customer Contact Last Name</label><br><br>
			          <span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="last_name" [value]="response[0].lastName" readonly>
                </span>
              </div>
	            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                <label class="Cust_email">Customer Email Address</label><br><br>
			          <span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="email_name" [value]="response[0].emailAddr" readonly>
                </span>
              </div>
	            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                <label class="Cust_tel">Customer Telephone Number</label><br><br>
	          		<span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="tel_name" [value]="response[0].telNum" readonly>
                </span>
              </div>
		          </div>
             <div class="rightPanel">
                 <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Ship_Contact">Ship To Contact</label><br><br>
			            <span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="ship_to" [value]="response[0].shipContact" readonly>
                  </span>
                 </div>   
	              <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Bill_Contact">Bill To Contact</label><br><br>
			            <span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="bill_to" [value]="response[0].billContact" readonly>
                  </span>
                </div> 
		            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Ship_phone">Ship To Phone Number</label><br><br>
			            <span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px;" type="ship_phone" [value]="response[0].shipPhone" readonly>
                  </span>
                </div>
	            	<div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Bill_phone">Bill To Phone Number</label><br><br>
			            <span class="grommetux-form-field__contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px; " type="bill_phone" [value]="response[0].billPhone" readonly>
                  </span>  
                 </div> 
	   
                </div> 
             </div>
<br>		
			<div class="panel2">
				<div class="buttomPanel-left">
					<div class="grommetux-form grommetux-form-field--text grommetux-form-field--size-medium">
			<label class="Sold_Add"><strong>Sold To Address</strong></label><br><br>
			<span class="grommetux-form_contents"><input style="font-family:Arial, Helvetica, sans-serif; padding-right:100px; margin-right:95px; width:200px; height:120px;" type="sold_to" [value]="response[0].soldtoAddress" readonly>
			</span>
				    <!--<label class="Address_Auto">Auto , S.A de C.V<br>FERNADO MONTES DE OCA NO.21 , 3ER, <br>PISO,FRACC.IND.SAN NICOLAS,NULL<br>MEXICO MX</label>-->
				    <button class="cancel">Refresh Data from MSCRM</button><br><br>
				    <button class="cancel_refresh">Populate From Sold To</button>
			   </div>
		  	</div>
			<div class="buttomPanel-right">
        <div class="grommetux-form grommetux-form-field--text grommetux-form-field--size-medium">
		  <label style="font-size:20px;" class="Bill_Add"><strong>Bill To Address</strong></label><br><br>
		  <span class="grommetux-form_contents"><input style="font-family:Arial, Helvetica, sans-serif; font-size:px; padding-right:100px; margin-right:95px; width:200px; height:120px;" type="bill_to" [value]="response[0].billtoAddress.billaddress" readonly>
		  </span>
		  <br>
				<!--<label class="Auto_bill"> Auto , S.A de C.V<br>FERNADO MONTES DE OCA NO.21 , 3ER, <br>PISO,FRACC.IND.SAN NICOLAS,NULL<br>MEXICO MX</label><br>-->
				<input type="checkbox" name="Same as Sold To Address" value="Same as Sold To Address">Same as Sold To Address
        </div>   
      </div>		
		
	  	<div class="buttomPanel-center">
			  <div class="grommetux-form grommetux-form-field--text grommetux-form-field--size-medium">
          <label class="Ship_Add"><strong>Ship To Address</strong></label><br>
        <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
        </span>
				<!--<label class="Test">Test Rite De Mexico , S.A de C.V</label><br>-->
				<span class="grommetux-form_contents"><input style="font-family:Arial, Helvetica, sans-serif; font-size:px; padding-right:100px; margin-right:95px; width:200px; height:35px;" type="ship_to" [value]="response[0].shiptoAddress.shipto" readonly>
				</span>
				<span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Ship To"></span>
				<br>
				
				<span class="grommetux-form_contents"><input style="font-family:Arial, Helvetica, sans-serif; font-size:px; padding-right:100px; margin-right:95px; width:200px; height:95px;" type="ship_to" [value]="response[0].shiptoAddress.street" readonly>
				</span>
				<!--<label class="Test">FERNADO MONTES DE OCA NO.21 , 3ER.<br>PISO,FRACC.IND.SAN NICOLAS,NULL<br></label>-->
				<span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Street"></span>
				
				<ul style="list-style-type:none">
				<span><input style="font-size:15px; font-family:Arial, Helvetica, sans-serif; padding:right; color:black;width:140px;" type="ship_to" [value]="response[0].shiptoAddress.city" readonly>
				<input style="font-size:15px; font-family:Arial, Helvetica, sans-serif; color:black;width:100px;" type="ship_to" [value]="response[0].shiptoAddress.state" readonly></span><br>
				<br>
				<small style="color:#a9a9a9;">City</small><small style="color:#a9a9a9;padding-left: 150px;">State</small>
				<span class="grommetux-form-field__contents"><input id="input" type="text" placeholder=""></span>
				</ul>
				
				<ul style="list-style-type:none">
				<input style="font-size:15px; font-family:Arial, Helvetica, sans-serif; color:black;width:140px;padding:right;" type="ship_to" [value]="response[0].shiptoAddress.country" readonly>
				<input style="font-size:15px; font-family:Arial, Helvetica, sans-serif; color:black;width:100px;" type="ship_to" [value]="response[0].shiptoAddress.zip" readonly>
				<!--<label class="New_Country"><strong>India</strong></label><span style="padding-left: 130px;"><strong>54030</strong></span><br>-->
				<small style="color:#a9a9a9;">Country</small><small style="color:#a9a9a9;padding-left: 125px;">Zip</small>
				
				
				<br>
				
				</ul>
				<input type="checkbox" name="Same as Sold To Address" value="Same as Sold To Address">Same as Sold To Address
				</div>   		
      </div> 
  </div>
  </html>

		
			
		
			
	  
