<html>
  <head>
        <title>Document</title>
    </head>
    <h3 style="color:blue;">Customer Details</h3>
			<ul style="list-style-type:none;">
        <span class="Number"><strong>96063982</strong></span>
			</ul>
		 <ul style="list-style-type:none">
			<span class="MDCP">MDCP Organisation IP</span>
		</ul>
		<h3 style="color:blue;">Customer Contact Information</h3>
		
		      <div class="panel">
            <div class="leftPanel">
                <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Cust_first">Customer Contact First Name</label><br><br>
                  <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Testing Auto Match">
                  </span>
                </div>
	            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                <label class="Cust_last" >Customer Contact Last Name</label><br><br>
			          <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
                </span>
              </div>
	            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                <label class="Cust_email">Customer Email Address</label><br><br>
			          <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
                </span>
              </div>
	            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                <label class="Cust_tel">Customer Telephone Number</label><br><br>
	          		<span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
                </span>
              </div>
		          </div>
             <div class="rightPanel">
                 <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Ship_Contact">Ship To Contact</label><br><br>
			            <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
                  </span>
                 </div>   
	              <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Bill_Contact">Bill To Contact</label><br><br>
			            <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
                  </span>
                </div> 
		            <div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Ship_phone">Ship To Phone Number</label><br><br>
			            <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
                  </span>
                </div>
	            	<div class="grommetux-form-fiel grommetux-form-field--text grommetux-form-field--size-medium">
                  <label class="Bill_phone">Bill To Phone Number</label><br><br>
			            <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
                  </span>  
                 </div> 
	   
                </div> 
             </div>
<br>		
			<div class="panel2">
				<div class="buttomPanel-left">
					<div class="grommetux-form grommetux-form-field--text grommetux-form-field--size-medium">
            <label class="Sold_Add"><strong>Sold To Address</strong></label><br><br>
				    <label class="Address_Auto">Auto , S.A de C.V<br>FERNADO MONTES DE OCA NO.21 , 3ER, <br>PISO,FRACC.IND.SAN NICOLAS,NULL<br>MEXICO MX</label>
				    <button class="cancel">Refresh Data from MSCRM</button><br><br>
				    <button class="cancel_refresh">Populate From Sold To</button>
			   </div>
		  	</div>
			<div class="buttomPanel-right">
        <div class="grommetux-form grommetux-form-field--text grommetux-form-field--size-medium">
          <label class="Bill_Add"><strong>Bill To Address</strong></label><br><br>
				<label class="Auto_bill"> Auto , S.A de C.V<br>FERNADO MONTES DE OCA NO.21 , 3ER, <br>PISO,FRACC.IND.SAN NICOLAS,NULL<br>MEXICO MX</label><br>
				<input type="checkbox" name="Same as Sold To Address" value="Same as Sold To Address">Same as Sold To Address
        </div>   
      </div>		
		
	  	<div class="buttomPanel-center">
			  <div class="grommetux-form grommetux-form-field--text grommetux-form-field--size-medium">
          <label class="Ship_Add"><strong>Ship To Address</strong></label><br><br>
        <span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="">
        </span>
				<label class="Test">Test Rite De Mexico , S.A de C.V</label><br>
				<span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Ship To"></span>
				<br>
				<label class="Test">FERNADO MONTES DE OCA NO.21 , 3ER.<br>PISO,FRACC.IND.SAN NICOLAS,NULL<br></label>
				<span class="grommetux-form-field__contents"><input id="input" type="text" placeholder="Street"></span>
				
				<ul style="list-style-type:none">
				<label class="New_Del"><strong>New Delhi</strong></label><br>
				<small style="color:#a9a9a9;">City</small>
				<span class="grommetux-form-field__contents"><input id="input" type="text" placeholder=""></span>
				</ul>
				<ul style="list-style-type:none">
				<label class="New_har"><strong>Haryana</strong></label><br>
				<small style="color:#a9a9a9;">State</small>
				</ul>
				<ul style="list-style-type:none">
				<label class="New_Country"><strong>India</strong></label><br>
				<small style="color:#a9a9a9;">Country</small>
				</ul>
				<ul style="list-style-type:none">
				<span class="New_number"><strong>54030</strong></span><br>
				<small style="color:#a9a9a9;">Zip</small>
				</ul>
				<input type="checkbox" name="Same as Sold To Address" value="Same as Sold To Address">Same as Sold To Address
				</div>   		
      </div> 
  </div>
  </html>

		
			
		
			
	  
