.panel{
    width:70%;
    position: absolute;
    top:0%;
    bottom: 0;
    left:0;
    right: 0;
    text-align: left;
    float:left;
    opacity:0.75;
    background-color: white;
	margin-right:50px;
    margin-left: 310px;
	background-position: center right 10px;
	background-size:15px 15px;
	background-repeat:no-repeat;
}
img{
float:right;
}
label{
font-family:Helvetica;
font-size:14px;
}
