<h3>
    Model Configuration
</h3>
<button class="buttongrp1">
    Search by Config
</button>
<button class="buttongrp2">
    Search by category
</button>
<p class="font">
    Search by
</p>
<input type="radio" name="search by" value="none">None
<input type="radio" name="search by" value="Config Id">Config Id
<input type="radio" name="search by" value="Config Name">Config Name
<input type="radio" name="search by" value="Created By Email">Created by mail
<input type="radio" name="search by" value="Customer ID (MDCP ID)">Customer ID (MDCP ID)<br><br>
<input type="text" name="search by" style="width:500px">