table
{
  font-family: Helvetica;
  border-collapse: collapse;
  width: 65%;
  border:1px solid black;
  font-size: 13px;
}
td
{
  text-align: left;
  padding: 8px;
  font-weight: bold;
}
th
{
 text-align: left;
 padding: 8px;
}
tr:nth-child(odd)
{
  background-color: #D0F0C0;
}
h4{
	font-family: Helvetica;
}
